---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Nav from '../../components/Nav.astro'
import Footer from '../../components/Footer.astro'

const lang = Astro.currentLocale ?? 'de'
---

<BaseLayout title="Lars Kleiner – Impressum" lang={lang} pagePath="/about">
  <Nav lang={lang} />
  <article>
    <div class="container-fluid">
      <div class="row">
        <h2>Angaben gemäß § 5 Telemediengesetz</h2>
        Lars Kleiner<br />
        Bahrenfelder Steindamm 109c<br />
        22761 Hamburg<br />
        Telefon: 01737798303<br />
        E-Mail: hello@larskleiner.de<br />
        Umsatzsteuer ID: DE280194949<br />
      </div>
    </div>
  </article>
  <Footer lang={lang} />
</BaseLayout>
