---
import { getAbsoluteLocaleUrl } from 'astro:i18n'
import '../styles/main.css'

interface Props {
  title: string
  lang: string
  pagePath: string
}

const { title, lang, pagePath } = Astro.props
const deUrl = getAbsoluteLocaleUrl('de', pagePath)
const enUrl = getAbsoluteLocaleUrl('en', pagePath)
---

<!doctype html>
<html lang={lang} dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content="Lars Kleiner - Web developer, Drupal expert, cyclist and amateur photographer." />
    <link rel="alternate" hreflang="de" href={deUrl} />
    <link rel="alternate" hreflang="en" href={enUrl} />
  </head>
  <body>
    <slot />
  </body>
</html>
